@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');

body {
  margin: 0;
  font-family: 'Century Gothic Paneuropean', sans-serif !important;
  background: rgba(133, 104, 73, 0.33);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: rgba(133, 104, 73, 0.9);
}

.btn-primary:hover {
  background-color: rgba(133, 104, 73, 1);
}
